.navbar {
  background-color: #253b6b;
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.hero {
  padding: 1rem 4rem !important;
  margin-bottom: 4rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

form input {
  width: 300px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form p {
  margin-bottom: 1rem;
}

form a {
  color: #253b6b;
  text-decoration: none;
}
form button {
  width: 100%;
  padding: 0.7rem;
  background-color: #253b6b;
  color: #f1f1f1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

label {
  margin-right: auto;
  margin-bottom: 0.3rem;
  font-weight: 500;
}
