* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

main {
  background-color: #f1f1f1;
  flex: 1;
}

.container {
  padding-inline: clamp(1.5rem, 5vw, 9rem);
}

.hero {
  background-color: #253b6b;
  color: #f1f1f1;
  text-align: left;
  padding: 4rem 2rem;
}

.hero h1 {
  font-size: clamp(2.5rem, 8vw, 6rem);
  font-weight: 900;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

input,
select,
textarea {
  appearance: none;
  padding: 0.5rem;
  border: 1px solid #121212;
  background-color: #f1f1f1;
  cursor: pointer;
  border-radius: 5px;
}
