.controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.filters-container {
    display: flex;
    gap: 1rem;
}

select {
    appearance: none; /*avoid default styling on mac*/
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #121212;
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 5px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 0 2rem 2rem 2rem;

}

.card {
    background-color: #DC4F4F;
    color: #f1f1f1;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

@media (min-width: 600px) {
    .controls {
        flex-direction: row;
        justify-content: space-between;
    }

    .grid {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 1000px) {
    .grid {
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
    }

    select {
        max-width: 150px;
    }
}

