.navbar {
  background-color: #253b6b;
  padding: 1.5rem 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-inline: clamp(1.5rem, 5vw, 9rem);
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
}

.navbar-menu a {
  color: #f1f1f1;
  text-decoration: none;
}

.navbar-menu svg {
  margin-left: 1rem;
}

.navbar-logo {
  color: #f1f1f1;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 900;
}

@media (max-width: 768px) {
  .navbar-logo {
    font-size: 1.2rem;
  }
}
